#忽略编译中间目录
obj

#忽略编译输出目录
bin

#忽略测试结果目录
TestResults

#忽略引用包目录
packages
#不忽略引用配置文件
!packages/repositories.config



#忽略编译生成的应用程序文件
*.exe

#忽略编译生成的动态链接库配置文件
*.dll.config

#忽略编译生成的应用程序配置文件
*.exe.config

#忽略编译生成的应用程序动态链接库文件
*.dll

#忽略编译生成的应用程序调试文件
*.pdb
*.sdf

#忽略日志文件
*.log
