<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.17.0" targetFramework="net45" />
  <package id="NetMQ" version="3.3.2.1" targetFramework="net45" />
  <package id="NLog" version="4.2.0" targetFramework="net45" />
  <package id="NLog" version="4.3.5" targetFramework="net45" />
  <package id="NLog" version="3.2.0.0" targetFramework="net45" />
  <package id="NLog.Config" version="4.2.0" targetFramework="net45" />
  <package id="NLog.Schema" version="4.0.0" targetFramework="net45" />
</packages>